.env
__pycache__/
.DS_Store
frontend
tests/
.vscode/
.idea/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.sql
*.log
*.pot
*.mo
*.swp
*.pdf
*.swo
*.bak
*.tmp
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
tests_and_eval/
.venv