fastapi
uvicorn
pydantic
crewai
crewai_tools
sentence-transformers
psycopg2-binary
pgvector
langchain
langgraph
langchain-google-genai
langchain_community
tavily-python
python-dotenv
langchain_groq
thefuzz
langgraph-checkpoint-postgres
asyncio
asyncpg